.shop-button {
  background: none;
  border: 1px solid #3E3F43;
  border-radius: 4px;
  padding: 8px 18px;
  font-family: "Nunito-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #3e3f43;
  transition: all 0.2s ease;
}

.shop-button:hover {
  transform: scale(1.05);
  color: #fff;
  background-color: #3e3f43;
  cursor: pointer;
}
