@keyframes appearRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.animation-right {
  animation-name: appearRight;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
